# Environment variables
.env
.env.local

# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Logs
logs/*.log
*.log

# Data files
data/*.db
data/*.json

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Misc folders
/config
/data
/logs